<?xml version="1.0"?>
<robot name="forklift">
  <link name="world"/>
  <link name="imu_link">
    <visual>
      <origin xyz="-0.254 -0.080 -0.057" rpy="0 0 0"/>      
      <geometry>
        <mesh filename="package://forklift_description/meshes/forklift_opt4.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="default">
        <color rgba="1.0 1.0 1.0 1.0"/>
      </material>
    </visual>
  </link>
  <joint name="world_to_imu" type="fixed">
    <parent link="world"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
